.focusOne{
    transform : scale(1);
    opacity : 1;
    transition: all 100ms linear;
}

.focusTwo{
    transform : scale(0.6);
    opacity : 0.2;
    transition: all 100ms linear;
}
.focusThree{
    transform : scale(0.4);
    opacity : 0.1;
    transition: all 100ms linear;
}
.focusFour{
    transform : scale(0.2);
    opacity : 0.1;
    transition: all 100ms linear;
}